h1 {
    font-size: 3em;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

* {
    cursor:url(cursor.png), auto;
}

.container {
    text-align:center;
}

.fadein { position:relative; height:300px; width:500px; }
.fadein img { position:absolute; left:0; top:0; }

.app {
    background-color: #F1A9A0;
}
.main{
    background-color: #C5EFF7;
}
.dessert {
    background-color: #FDE3A7;
}